[Unit]
Description=Restore keyboard brightness level on hibernation
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/fix_hibernate

[Install]
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
