[Unit]
Description=Don't wake up immediately when suspending
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/fix_sleep

[Install]
WantedBy=sleep.target
