# Set Backlight
SUBSYSTEM=="backlight", ACTION=="add", KERNEL=="acpi_video0", ATTR{brightness}="0"
SUBSYSTEM=="leds", ACTION=="add", KERNEL=="asus::kbd_backlight", ATTR{brightness}="0"

# PCI runtime power management
SUBSYSTEM=="pci", ACTION=="add", TEST=="power/control", ATTR{power/control}="auto"
SUBSYSTEM=="pci", ACTION=="add", KERNEL=="0000:00:1a.0", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="pci", ACTION=="add", KERNEL=="0000:00:1d.0", TEST=="power/control", ATTR{power/control}="on"

# WiFi power management
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlan*", RUN+="/usr/bin/iw dev %k set power_save on"

# USB autosuspend
SUBSYSTEM=="usb", ACTION=="add", TEST=="power/control", ATTR{power/control}="auto"
SUBSYSTEM=="usb", ACTION=="add", TEST=="power/control", ATTR{product}=="USB Optical Mouse", ATTR{power/control}="on"
SUBSYSTEM=="usb", ACTION=="add", TEST=="power/control", ATTR{product}=="USB Composite Device", ATTR{power/control}="on"

# SATA link power management
SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="min_power"

# Disable Bluetooth
SUBSYSTEM=="rfkill", ATTR{type}=="bluetooth", ATTR{state}="0"
