# Disable touchpad when mouse is connected
SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ACTION=="add",    ENV{DISPLAY}=":0.0",  ENV{XAUTHORITY}="/home/tomek/.Xauthority", RUN+="/usr/bin/xinput set-prop 'ETPS/2 Elantech Touchpad' 'Device Enabled' 0"
SUBSYSTEM=="input", KERNEL=="mouse[0-9]*", ACTION=="remove", ENV{DISPLAY}=":0.0",  ENV{XAUTHORITY}="/home/tomek/.Xauthority", RUN+="/usr/bin/xinput set-prop 'ETPS/2 Elantech Touchpad' 'Device Enabled' 1"
