#include "/home/tomek/.config/Xresources.d/xft"
#include "/home/tomek/.config/Xresources.d/xterm"
#include "/home/tomek/.config/Xresources.d/urxvt"
#include "/home/tomek/.config/Xresources.d/urxvt.keysym"
#include "/home/tomek/.config/Xresources.d/xscreensaver"

! vim:ft=xdefaults
