! FONTS

! Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! XSCREENSAVER

!font settings
xscreensaver.Dialog.headingFont:        -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-fixed-medium-r-*-*-10-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #EDEDED
xscreensaver.Dialog.background:         #202020
xscreensaver.Dialog.topShadowColor:     #202024
xscreensaver.Dialog.bottomShadowColor:  #202024
xscreensaver.Dialog.Button.foreground:  #EDEDFF
xscreensaver.Dialog.Button.background:  #444
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #EDEDFF
xscreensaver.Dialog.text.background:    #444
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #A9B7C4
xscreensaver.passwd.thermometer.background:  #202020
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

! XTERM

! Basic stuff
!xterm*internalBorder:        0
xterm*loginShell:         true
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*cursorBlink:       false
!xterm*geometry:         80x26
xterm*saveLines:          5000
xterm*dynamicColors:        on
xterm*highlightSelection: true
xterm*metaSendsEscape:    true

! Appearance
xterm*utf8:             true
xterm*eightBitInput:    true

! Font
xterm*faceName:     Monospace
xterm*faceSize:     10
xterm*scaleHeight:  1.00

! Dark color theme
! xterm*cursorColor: #DCDCCC
! xterm*background:  #232323
! xterm*foreground:  #e5e5e5
! xterm*color0:      #1E2320
! xterm*color1:      #705050
! xterm*color2:      #60b48a
! xterm*color3:      #dfaf8f
! xterm*color4:      #506070
! xterm*color5:      #dc8cc3
! xterm*color6:      #8cd0d3
! !xterm*color6:      #418179
! xterm*color7:      #dcdccc
! xterm*color8:      #709080
! xterm*color9:      #dca3a3
! xterm*color10:     #c3bf9f
! xterm*color11:     #f0dfaf
! xterm*color12:     #94bff3
! !xterm*color13:     #ec93d3
! xterm*color13:     #9879d0
! xterm*color14:     #93e0e3
! xterm*color15:     #ffffff

! Light color theme
xterm*background:   #efefef
xterm*foreground:   #323232
xterm*color0:       #2e3436
xterm*color8:       #555753
xterm*color1:       #cc0000
xterm*color9:       #ef2929
xterm*color2:       #4e9a06
xterm*color10:      #8ae234
xterm*color3:       #c4a000
! xterm*color11:      #fce94f
xterm*color11:      #d2c73c
xterm*color4:       #3465a4
xterm*color12:      #628ece
xterm*color5:       #75507b
xterm*color13:      #ad7fa8
xterm*color6:       #0b939b
! xterm*color14:      #00f5e9
xterm*color14:      #00ddd9
xterm*color7:       #d3d7cf
xterm*color15:      #eeeeec

! URXVT

! Basic stuff
URxvt*loginShell:           true
URxvt*scrollBar:            true
URxvt*scrollstyle:          plain
URxvt*scrollBar_right:      true
URxvt*secondaryScroll:      true
URxvt*cursorBlink:          false
URxvt.saveLines:            8192
URxvt.scrollTtyOutput:      False
URxvt.scrollTtyKeypress:    True
URxvt.scrollWithBuffer:     True

! Keybindings
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Up: \033[1;5B
URxvt.keysym.C-Down: \033[1;5A

! Appearance
URxvt.font:                 xft:terminus:size=10
URxvt.depth:                32
URxvt.iconFile:             /usr/share/icons/Faenza/apps/scalable/Terminal.svg

! Color theme
URxvt*cursorColor: #DCDCCC
!URxvt*background:  #202020
URxvt.background:  rgba:0000/0000/0000/DEDE
URxvt*foreground:  #e5e5e5
URxvt*color0:      #1E2320
URxvt*color1:      #705050
URxvt*color2:      #60b48a
URxvt*color3:      #dfaf8f
URxvt*color4:      #506070
URxvt*color5:      #dc8cc3
URxvt*color6:      #8cd0d3
URxvt*color7:      #dcdccc
URxvt*color8:      #709080
URxvt*color9:      #dca3a3
URxvt*color10:     #c3bf9f
URxvt*color11:     #f0dfaf
URxvt*color12:     #94bff3
URxvt*color13:     #9879d0
URxvt*color14:     #93e0e3
URxvt*color15:     #ffffff

! Perl extensions
URxvt.perl-ext:
URxvt.perl-ext-common:
! URL launcher
!URxvt.perl-ext-common:  default,matcher
!URxvt.urlLauncher:      /usr/bin/firefox
!URxvt.matcher.button:   1

